body{
    background: #000;
}
.contenedor-pago{
    background: rgb(228, 228, 228);
    width: 500px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 5px;
}
.credit-card-div  span {
     padding-top:10px; 
    }
.credit-card-div img {
     padding-top:30px; 
    }
.credit-card-div .small-font {
    font-size:9px; 
    }
.credit-card-div .pad-adjust {
     padding-top:10px;
    }

.tarjeta{
    font-size: 35px;
    margin-top: 25px;
    color: rgb(75, 75, 75);
}